feedparser==6.0.10
requests==2.31.0
sqlalchemy==2.0.22
numpy==1.26.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
transformers==4.36.2
sentence-transformers==2.2.2
python-dotenv==1.0.0
python-telegram-bot==20.3
psycopg2-binary==2.9.9  # Для работы с PostgreSQL
